<!DOCTYPE html>
<html>
<head>
    <title>Cattainer</title>
    <meta name="Cattainer" content="Cattainer zone definition and saving website to allow users to select the zones their cat is allowed in">
    <style> /*This section has all the CSS*/
        body {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            background-color: rgb(17, 17, 17); /*Matches with HA*/
            color: rgb(222, 222, 222);
            text-align: center;
        } 
        canvas {
            max-width: 100%;
            height: auto;
            background-color: black;
        }
        select {
            padding: 8px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
        }
        .controls {
            background-color: red;
            margin: 20px auto;
            padding: 8px;
            border-radius: 8px;
            width: 320px;
        }
        button {
            padding: 12px 16px;
            border-radius: 8px;
            
        }
    </style>    

</head>
<!--Body contains the main HTML section-->
<body> 
    <p>Draw your <b>zones</b> below.</p>

    <canvas id="myCanvas" width="320" height="320"></canvas>

    <div class="controls">
        <label for="zoneMenu"><b>Choose a Zone</b></label>
        <select id="zoneMenu">
            <option value="red">Red Zone</option>
            <option value="amber">Amber Zone</option>
        </select>
    </div>

    <div class=""buttons">
        <button id="saveButton">
            <b>Save Zones</b>
        </button>
        <button id="resetButton">
            <b>Reset Canvas</b>
        </button>
    </div>

    <script> /*This section has all the JavaScript*/
        console.log("Webpage has loaded");

        //Get background.png to become the background of the canvas
        const canvas = document.getElementById("myCanvas");
        const ctx = canvas.getContext("2d");
        
        const bgImage = new Image();
        bgImage.src = "/static/background.png";
        //onload makes this next line wait until the bgImage has been completely downloaded first
        bgImage.onload = function() { 
            ctx.drawImage(bgImage, 0, 0, canvas.width, canvas.height);
        }

        //Zone selection menu 
        let currentZoneColour = "red";
        const zoneMenu = document.getElementById("zoneMenu");
        const controlsDiv = document.querySelector(".controls");
        zoneMenu.addEventListener("change", function(event) {
            currentZoneColour = event.target.value;
            console.log("Pen colour is: " + currentZoneColour);

            //Change the background colour of the div depending on which colour is selected
            if (currentZoneColour == "red"){
                controlsDiv.style.backgroundColor = "red";
            } else if (currentZoneColour == "amber"){
                controlsDiv.style.backgroundColor = "rgb(221, 175, 10)";
            }
        })

        //Get the coordinates
        let currentPolygon = [];
        let savedZones = [];
        canvas.addEventListener("mousedown", function(event){
            let clickX = event.offsetX;
            let clickY = event.offsetY;

            //Snap clicks to the edges 
            const snapThreshold = 10;

            if (clickX < snapThreshold){
                clickX=0;
            } else if (clickX > canvas.width-snapThreshold){
                clickX = canvas.width;
            }
            if (clickY < snapThreshold){
                clickY=0;
            } else if (clickY > canvas.height-snapThreshold){
                clickY = canvas.height;
            }

            //Save the coordinates to the array
            currentPolygon.push({x: clickX, y: clickY});

            //Draw the dots & connect the dots
            let canvasColour = currentZoneColour;
            if(currentZoneColour === "amber"){
                canvasColour = "rgb(221, 175, 10)";
            }

            ctx.fillStyle = canvasColour;
            ctx.lineWidth = 3;
            ctx.strokeStyle = canvasColour;
            ctx.fillRect(clickX, clickY, 5, 5);
            if(currentPolygon.length>1){
                let prevPoint = currentPolygon[currentPolygon.length-2];
                ctx.beginPath();
                ctx.moveTo(prevPoint.x, prevPoint.y);
                ctx.lineTo(clickX, clickY);
                ctx.stroke();
                
                //Finishing the polygon logic
                let firstPoint = currentPolygon[0];
                if(Math.abs(clickX-firstPoint.x) < 20 && Math.abs(clickY-firstPoint.y) < 20){
                    console.log("Finishing the polygon");
                    clickX = firstPoint.x;
                    clickY = firstPoint.y;
                    //Fill in the polygon
                    ctx.beginPath();
                    ctx.moveTo(currentPolygon[0].x, currentPolygon[0].y);
                    for(let i = 1; i<currentPolygon.length;i++){
                        ctx.lineTo(currentPolygon[i].x, currentPolygon[i].y);
                    }
                    ctx.closePath();
                    ctx.stroke();
                    ctx.globalAlpha = 0.4;
                    ctx.fillStyle = canvasColour;
                    ctx.fill();
                    
                    ctx.globalAlpha = 1;
                    //Add this current Zone to the savedZones array
                    savedZones.push({zoneType: currentZoneColour, coordinates: currentPolygon});
                    currentPolygon = [];
                    return;
                }
            }
        })
        //Reset button logic
        const resetButton= document.getElementById("resetButton");
        resetButton.addEventListener("click", function(event){
            savedZones = [];
            currentPolygon = [];
            ctx.clearRect(0,0, canvas.width, canvas.height);
            ctx.drawImage(bgImage, 0, 0, canvas.width, canvas.height);
        })

        //Save button logic
        const saveButton= document.getElementById("saveButton");


        
    </script>
</body>
</html> 