 <!DOCTYPE html>
<html>
<head>
    <title>Cattainer Zone Editor</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;background-color: white;color: black;} /*SWAP THESE AROUND AT THE END*/
            canvas {border: 2px solid black; cursor: auto; touch-action: auto; background-color: white;}
            .controls {margin: 20px;}
            button, select { padding: 10px; margin: 5px; font-size: 16pt;}
    </style>    
</head>
<body>

<h1>My First Heading</h1>
<p>My first paragraph.</p>

</body>
</html> 