<!DOCTYPE html>
<html>
<head>
    <title>Cattainer</title>
    <meta name="Cattainer" content="Cattainer zone definition and saving website to allow users to select the zones their cat is allowed in">
    <style> /*This section has all the CSS*/
        body {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            background-color: black;
            color: white;
            text-align: center;
        } 

        div{
            border: 5px;
            background-color: green;
            text-align: center;
        }

        canvas {
            max-width: 100%;
            height: auto;
            background-color: white;
        }
    </style>    

</head>
<!--Body contains the main HTML section-->
<body> 
    <h1>Cattainer</h1>
    <p>Draw your <b>zones</b> below.</p>

    <canvas id="myCanvas" width="320" height="320"></canvas>

    <div>
        <p>Zone Options:</p>
    </div>

    <script> /*This section has all the JavaScript*/
        console.log("Webpage has loaded");

        //Get background.png to become the background of the canvas
        const canvas = document.getElementById("myCanvas");
        const ctx = canvas.getContext("2d");
        
        const bgImage = new Image();
        bgImage.src = "/static/background.png";
        bgImage.onload = function() {
            ctx.drawImage(bgImage, 0, 0, canvas.width, canvas.height);
        }
    </script>
</body>
</html> 